<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />

    <!-- Custom Css -->
    <link rel="stylesheet" href="../public/css/404.css" />

    <!-- Responsive.css -->
    <link rel="stylesheet" href="../public/css/responsive.css" />

    <!-- FontAwesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous"
    />
    <link rel="icon" href="../public/assets/Favicon.ico" type="image/x-icon" />

    <title>CloveS WEATHER</title>
  </head>
  <body id="body">
    <div class="blur-bg primary-bg"></div>
    <div class="container">
      <!-- 404 page -->
      <div
        class="secondary-bg rounded d-flex flex-column justify-content-center align-items-center"
      >
        <h1>404</h1>
        <p class="fw-bold logo">ᴛʜᴇ.ᴄʟᴏᴠᴇs</p>
        <div class="info text-center">
          <h2>Lost in Clouds :)</h2>
          <p class="fw-bold">ᴛʜᴇ ᴘᴀɢᴇ ʏᴏᴜ ᴡᴇʀᴇ ʟᴏᴏᴋɪɴɢ ғᴏʀ ᴡᴀs ɴᴏᴛ ғᴏᴜɴᴅ</p>
          <a href="/">
            <i class="fas fa-home fa-2x text-light"></i>
          </a>
        </div>
      </div>
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
